
#todoContainer {
  width: 50%;
  margin: auto;
}


#todoContainer #todoListTab{
  margin: 20px;
}

#todoContainer div ul {
  display: table-cell;
}

#todoContainer div ul:last-child{
  text-align: right;
}